CLIENT_ID=43785406d0df4cbe6f8ede707d4d7e39
CLIENT_SECRET=7ac37d5f3df8beced0cc3e045f3e671ea653eb69603bfaab
APP_ID=1566724827161608
PORT=5000
NODE_ENV=development


# PostgreSQL Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gamecenter
DB_USER=postgres
DB_PASSWORD=postgres

# Development Settings
BYPASS_PAYMENT=false

# Production Settings (optional)
# ALLOWED_ORIGINS=https://yourdomain.com,https://app.yourdomain.com