<?xml version="1.0" encoding="utf-8"?>
<config>
	
	<tracking enabled="true">
		<gameName>turbo360</gameName>
		<eventCategory>games</eventCategory>
		<pageDescription>max: Turbo 360</pageDescription>
		<!-- The localization region to load. Loads string files in strings/strings_<two letter locale>.xml. or, will load string.xml by default. -->
		<!--<locale>es</locale>-->
		
	</tracking>

	<options>
		<piracy><![CDATA[aHR0cDovL3d3dy5uaWNrLmNvbS9tYXNoLXVwcy9nYW1lcy9uaWNrZWxvZGVvbi1ibGFzdGVyLXNxdWFkLw==]]></piracy>
	</options>

</config>